<!DOCTYPE html>

{% load static %}

<html class="no-js" lang="cxy">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Chenxingyu</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block css %}

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{% static 'img/icon.png' %}">


        <!-- Plugins -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/plugins.css' %}">

        <!-- Style Css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- Custom Styles -->
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    {% endblock %}
</head>
<body>
<!-- Wrapper -->
<div id="wrapper" class="wrapper">

    <span class="cursor"></span>
    {% block header %}

    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}

    {% endblock %}
</div>
<!--// Wrapper -->
</body>
{% block js %}
    <script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=qaRAxdOhKdLtXFUNf0EOW1PGYxnkGvF6"></script>
{% endblock %}
</html>