{% extends 'base/base_main.html' %}
{% load static %}

{% block content %}
    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area bg-grey">
        <div class="container">
            <div class="cr-breadcrumb">
                <h2>Chenxingyu's Blog</h2>
                <ul>
                    <li><a href="{% url 'p:index' %}">主页</a></li>
                    <li>博客</li>
                </ul>
            </div>
        </div>
    </div>
    <!--// Breadcrumb Area -->

    <!-- Page Conttent -->
    <main class="page-content">

        <!-- Blog Area -->
        <div class="cr-section blog-area section-padding-lg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-8 col-12 order-1 order-lg-2">
                        <div class="row">
                            {% if result %}
                                {% for article in result %}
                                    <!-- Single Blog -->
                                    <div class="col-xl-6 col-lg-12 col-md-6 col-12">
                                        <article class="blog-item sticky">
                                            <header class="blog-item-header">
                                                <a href="{% url 'p:blogDetails' article.id %}">
                                                    <img src="{% static '' %}{{ article.b_img }}" alt="blog thumb">
                                                </a>
                                            </header>
                                            <div class="blog-item-body">
                                                <h6 class="blog-item-title"><a
                                                        href="{% url 'p:blogDetails' article.id %}">{{ article.b_title }}</a></h6>
                                                <p>{{ article.b_excerpt }}</p>
                                            </div>
                                            <footer class="blog-item-footer">
                                                <ul class="blog-item-meta">
                                                    <li><i class="fa fa-user-o"></i>作者:<a
                                                            href="{% url 'p:index' %}">{{ article.b_user }}</a>
                                                    </li>
                                                    <li><i class="fa fa-calendar-o"></i>{{ article.b_created_time }}
                                                    </li>
                                                    <li><i class="fa fa-comments-o"></i><a>{{ article.comments_set.count }}</a>
                                                    </li>
                                                </ul>
                                            </footer>
                                        </article>
                                    </div>
                                    <!--// Single Blog -->
                                {% endfor %}
                            {% else %}
                                暂无
                            {% endif %}


                        </div>
                        <div class="cr-pagination mt-4 text-center">
                            <ul>
                                <li>
                                    {% if page.has_previous %}
                                        <a href="{% url 'p:blogHome' %}?page={{ page.previous_page_number }}">
                                        <i class="fa fa-angle-double-left"></i>
                                    </a>
                                    {% else %}
                                    {% endif %}
                                </li>
                                {% for i in paginator.page_range %}
                                    <li><a href="{% url 'p:blogHome' %}?page={{ i }}">{{ i }}</a></li>
                                {% endfor %}


                                <li>
                                    {% if page.has_next %}
                                        <a href="{% url 'p:blogHome' %}?page={{ page.next_page_number }}">
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                        {% else %}
                                    {% endif %}

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-12 order-2 order-lg-1 sticky-sidebar-active">
                        <div class="widgets">

                            <!-- Single Widget -->
                            <section class="single-widget widget-search">
                                <h5 class="widget-title">搜索</h5>
                                <form action="{% url 'p:blogHome' %}" method="post">
                                    {% csrf_token %}
                                    <input type="text" placeholder="搜索..." name="search">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </section>
                            <!--// Single Widget -->

                            <!-- Single Widget -->
                            <section class="single-widget widget-categories">
                                <h5 class="widget-title">分类</h5>
                                <ul>
                                    {% if categorys %}
                                        {% for category in categorys %}
                                            <li>
                                                <a href="{% url 'p:category' category.id %}?page=1">{{ category.c_name }}<span>{{ category.blog_set.count }}篇文章</span></a>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        <li><a>暂无</a></li>
                                    {% endif %}

                                </ul>
                            </section>
                            <!--// Single Widget -->

                            <!-- Single Widget -->
                            <section class="single-widget widget-related-post">
                                <h5 class="widget-title">热门文章</h5>
                                <ul>
                                    {% if reads %}
                                        {% for read in reads %}
                                            <li>
                                                <div class="image">
                                                    <a href="{% url 'p:blogDetails' read.id %}">
                                                        <img src="{% static '' %}{{ read.b_img }}" alt="blog thumb">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h6><a href="{% url 'p:blogDetails' read.id %}">{{ read.b_title }}</a></h6>
                                                    <span>{{ read.b_created_time }}</span>
                                                </div>
                                            </li>
                                        {% endfor %}

                                    {% else %}
                                        暂无
                                    {% endif %}

                                </ul>
                            </section>
                            <!--// Single Widget -->

                            <!-- Single Widget -->
                            <section class="single-widget widget-tags">
                                <h5 class="widget-title">标签</h5>
                                <ul>
                                    {% if tags %}
                                        {% for tag in tags %}
                                            <li><a href="{% url 'p:tags' tag.id %}?page=1">{{ tag.t_name }}</a></li>
                                        {% endfor %}

                                    {% else %}
                                        <li><a>暂无</a></li>
                                    {% endif %}

                                </ul>
                            </section>
                            <!--// Single Widget -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Blog Area -->

    </main>
    <!--// Page Conttent -->
{% endblock %}